.container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    width: fit-content;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 18px;
    border-right: 3px solid #BBB;
    border-bottom: 3px solid #BBB;
    background: #FFF;
}

.Evento {
    width: 60%;
    background: white;
    padding-left: 10px;
    padding-top: 10px;
}

.Evento img {
    width: 100%;
    border-radius: 6px;
}

.Evento h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.Evento p {
    color: darkgray;
}

.sidebar {
    flex-basis: 30%;
    background-color: white;
    padding: 20px;
}

.sidebar-item {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 0px 7px 7px 7px;
    border-right: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    background: lightblue;
}

.sidebar-item p {
    margin: 0;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.eventDetail {
    display: block;
}

h1 {
    margin-bottom: 5px;
}

h3 {
    margin-bottom: 5px;
    margin-top: 0px;
}

=======margin: 0;
}

.headder {
    display: flex;
    height: 57px;
    background-color: aqua;
    border-color: blueviolet;
    border: 4px;
    align-items: center;

    position: fixed;
}

.left-section {
    align-items: center;
    padding: 10px 0;
    display: flex;
}

.left-image {
    width: 30px;
    height: auto;
    margin-left: 20px;
}

.buttonLeft {
    padding: 8px 40px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.middle-section {
    flex: 1;
    margin-left: 80px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.searchBar {
    flex: 1;
    height: 30px;
    padding-left: 12px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-button {
    width: auto;
    height: auto;
    border-width: 2px;
    border-color: lightgrey;
    margin-left: -5px;
    cursor: pointer;
}

.search-button img {
    width: 25px;
    height: auto;
}

.right-section {
    display: flex;
    padding-left: 100px;
    gap: 40px;
    align-items: center;
    width: 60px;
}

.niceButtons {
    width: auto;
    height: auto;
    border-width: 2px;
    background-color: transparent;
    border: none;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.niceButtons img {
    width: 30px;
    height: auto;
}

.image-container {
    margin-right: 10px;
    /* Espaciado entre la imagen y los botones */
    margin-bottom: 0px;
}

.bullet {
    font-size: 24px;
    margin: 0 10px;
}

form .input-buscar {
    position: relative;
}

.buttonInicio {
    margin-left: 50px;
}