body {
  font-family: "Poppins", sans-serif;
}

:root {
  --accentColorBG: #f2f6f9;
  --accentColorBD: #c2c2c2;
  --color-fondo: #f2f2f2;
}

.item {
  margin-top: 70px;
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 10px;
}

.image {
  width: 355px;
  height: 210px;
  background-color: #f0f0f0;
  margin-right: 10px;
}

.content input {
  flex: 1;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  padding: 10px 5px;
}

.categories input {
  text-align: center;
}

.description {
  display: block;
  margin-bottom: 10px;
}

.capacity {
  display: block;
  width: 88px;
}


.requirements {
  display: block;
}

.buttonT1 {
  padding: 10px 30px;
  border-radius: 10px;
  margin-left: 80px;
  cursor: pointer;
  font-size: 18px;
  transition: border-color 0.8s;
  background-color: var(--accentColorBG);
  border-color: var(--accentColorBD);
}

.buttonT1:hover {
  border-color: lightskyblue;
}