body {
  font-family: "Poppins", sans-serif;
}

:root {
  --accentColorBG: #f2f6f9;
  --accentColorBD: #c2c2c2;
  --color-fondo: #f2f2f2;
}

.eventoMainContainer {
  width: 1600px;
  height: 400px;
  background-color: lightgreen;
  margin: auto;
}

.ImagenEvento {
  width: 400px;
  height: 300px;
  background-color: blue;
  float: left;
  margin-left: 40px;
  margin-top: 40px;
  text-align: center;
  color: white;
}

.dividedContainer {
  width: 400px;
  height: 300px;
  float: left;
  margin-left: 30px;
  margin-top: 40px;
  background-color: purple;
}

.inputEv {
  position: relative;
  margin: 10px 0;
}

.inputEv input {
  width: 388px;
  padding: 10px 0px 10px 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}

.category-item {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 40px;
  border-radius: 0px 7px 7px 7px;
  border-right: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  background: lightblue;
}

.category-item p {
  margin: 0;
}

.publicar-container {
  margin-top: -15px;
  margin-left: 870px;
}

.buttonPublicar {
  width: 220px;
  border-radius: 10px;
  padding: 13px 0px 13px 0px;
  cursor: pointer;
  font-size: 18px;
  transition: border-color 0.8s;
  background-color: var(--accentColorBG);
  border-color: var(--accentColorBD);
}

.buttonT1 {
  width: 30%;
  border-radius: 10px;
  padding: 13px 0px 13px 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: border-color 0.8s;
  background-color: var(--accentColorBG);
  border-color: var(--accentColorBD);
}

.buttonT1:hover {
  border-color: lightskyblue;
}
