body {
  margin: 0;
}

.headder {
  display: flex;
  height: 57px;
  background-color: aqua;
  border-color: blueviolet;
  border: 4px;
  align-items: center;

  position: fixed;
}

.left-section {
  align-items: center;
  padding: 10px 0;
  display: flex;
}

.left-image {
  width: 30px;
  height: auto;
  margin-left: 20px;
}

.buttonLeft {
  padding: 8px 40px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.middle-section {
  flex: 1;
  margin-left: 80px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.searchBar {
  flex: 1;
  height: 30px;
  padding-left: 12px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-button {
  width: auto;
  height: auto;
  border-width: 2px;
  border-color: lightgrey;
  margin-left: -5px;
  cursor: pointer;
}

.search-button img {
  width: 25px;
  height: auto;
}

.right-section {
  display: flex;
  padding-left: 100px;
  gap: 40px;
  align-items: center;
  width: 60px;
}

.niceButtons {
  width: auto;
  height: auto;
  border-width: 2px;
  background-color: transparent;
  border: none;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.niceButtons img {
  width: 30px;
  height: auto;
}

.image-container {
  margin-right: 10px; /* Espaciado entre la imagen y los botones */
  margin-bottom: 0px;
}

.bullet {
  font-size: 24px;
  margin: 0 10px;
}

form .input-buscar {
  position: relative;
}

.buttonInicio {
  margin-left: 50px;
}
