body {
  font-family: "Poppins", sans-serif;
}

:root {
  --accentColorBG: #f2f6f9;
  --accentColorBD: #c2c2c2;
  --color-fondo: #f2f2f2;
}

.item {
  margin-top: 70px;
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 10px;
}

.eventImage {
  width: 355px;
  height: 200px;
  background-color: #f0f0f0;
  margin-right: 10px;
  margin-top: 10px;
}

.activityImage {
  width: 340px;
  height: 200px;
  background-color: #f0f0f0;
  margin-right: 10px;
  margin-top: 10px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  width: 50%;
}

.categories {
  text-align: center;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar-item {
  padding: 3px 8px;
  min-width: 90px;
  height: fit-content;
  border-radius: 0px 7px 7px 7px;
  border-right: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  background: lightgray;
}

.info {
  margin-bottom: 10px;
  width: 70%;
}

.capacity {
  display: block;
  width: 88px;
}

.buttonT1 {
  padding: 10px 30px;
  border-radius: 10px;
  margin-left: 80px;
  cursor: pointer;
  font-size: 18px;
  transition: border-color 0.8s;
  background-color: var(--accentColorBG);
  border-color: var(--accentColorBD);
}

.buttonT1:hover {
  border-color: lightskyblue;
}

.containerActividades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 15px 20px;
}

.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 1, 0.25);
  padding-left: 10px;
}

.evento {
  background-color: transparent;
  margin-left: 10px;
}

.user {
  display: flex;
  align-items: center;
  margin: 7px 0px;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 5px 0px 0px;
}

.activity {
  font-size: 16px;
  width: auto;
  margin-right: 30px;
}

.activityTitle {
  font-size: 22px;
  font-weight: bold;
}

.eventDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  gap: 5px;
}

.barra-inferior {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 10px;
  bottom: 0;
}

.colabs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.colabs img {
  align-self: center;
  /* Alinea el elemento verticalmente en el centro */
  border-radius: 50px;
  height: 68px;
  width: auto;
}

/* Estilos para el texto en la barra inferior */
.colabs span {
  width: 100%;
  font-size: 26px;
  align-self: center;
  font-weight: bold;
  color: black;
}

.cancelContainer {
  margin: auto;
  text-align: center;
  position: absolute;
  background-color: white;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
  padding: 10px 36px 10px 36px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  outline: none;
  font-size: 20px;
  border: none;
  opacity: 0;
  transition: opacity 0.15s;
  z-index: -1;
}

.cancelText {
  padding: 10px;
  padding-bottom: 20px;
}

.cancelButton {
  margin-top: 0px;
  margin-left: 0px;
  display: inline-block;
}
